@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Outfit;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;

}

.font-ovo {
  font-family: var(--font-ovo);
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
  opacity: 1; 
}